.about-banner{
    background-image: url('https://images.unsplash.com/photo-1599831413648-97eae03f743d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8NGslMjBtYW5hbGl8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center ;
}

.about-banner h1{
    position: relative;
    top: 50%;
    text-align: center;
}