
.add-pakage{
    background-color:#f4f4f4;
    height: 100vh;
}

.form input{
    border: 1px solid black;
    margin: 5px;
    background-color: #f4f4f4;
    border: 3px solid gray;
    color: black;
    font-size: 14px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
   
}


.form .proceed-btn{
    border: none;
    background-color: #F2C230;
 }
 
 .form .proceed-btn:hover{
    background-color: #F2CB05;
 }


 @media screen and (max-width:680px){
     .add-pakage{
         height: 60vh;
     }
 }