
.add-pakage{
    background-color: #282828;
    height: 80vh;
}

.form input{
    border: 1px solid black;
    margin: 5px;
    background-color: #282828;
    border: 3px solid white;
    color: white;
    font-size: 14px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
   
}