.approved{
    background-color: rgba(41, 245, 109, 0.89);
    font-size: 12px;
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.pending{
    background-color: #F2C230;
    border: none;
    font-size: 12px;
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.cancel-button{
    background-color: rgba(245, 49, 15, 0.89);
    font-size: 12px;
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
}